body {
    background-color: #000;
    color: rgb(166, 247, 80);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.section {
    padding: 80px 20px;
    text-align: center;
    background-color: #111;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    padding: 0 20px;
    flex-wrap: wrap;

    filter: contrast(1.2) brightness(0.9) saturate(1.2);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%,
            rgba(0, 0, 0, 0.15) 50%);
    background-size: 100% 3px;
    pointer-events: none;
    z-index: 2;
    opacity: 0.15;
    animation: scanlines 0.5s linear infinite;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 255, 0, 0.1) 0%, transparent 80%);
    pointer-events: none;
    z-index: 3;
}

@keyframes scanlines {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(3px);
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 86px;
    height: 53px;
    z-index: 10;
}

.header img {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.header div {
    max-width: 100%;
    width: 100%;
}

.terminal-text {
    font-size: 2rem;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-word;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.terminal-text::after {
    content: '|';
    animation: blink-caret 0.75s step-end infinite;
}

@media (max-width: 1024px) {
    .terminal-text {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .terminal-text {
        font-size: 1.5rem;
    }

    .header div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        position: static;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .terminal-text {
        font-size: 1.2rem;
    }
}

@keyframes blink-caret {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.header h1 {
    font-size: 3rem;
    color: rgb(166, 247, 80);
    text-shadow: 0 0 15px rgb(166, 247, 80);
}

.header p {
    font-size: 1.5rem;
    color: #ccc;
    margin-top: 20px;
}

.header .student-button {
    background-color: rgb(166, 247, 80);
    border: none;
    padding: 10px 30px;
    font-size: 1.5rem;
    color: #000;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 30px;
}

.header .student-button:hover {
    background-color: #28a375;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(166, 247, 80);
}

.section p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

.credentials {
    background-color: #222;
    padding: 50px;

}

.credentials h3 {
    font-size: 2rem;
    color: rgb(166, 247, 80);
    margin-bottom: 20px;
}

.credentials ul {
    list-style-type: none;
    padding: 0;
}

.credentials li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.thank-you {
    background-color: #111;
    padding: 50px;
}

.thank-you h3 {
    font-size: 2rem;
    color: rgb(166, 247, 80);
    margin-bottom: 20px;
}

.thank-you p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.contact {
    background-color: #222;
    padding: 25px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.remove-link:hover {
    color: rgb(166, 247, 80);
    transition: color 0.3s ease-in-out;
}

.link-contact {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.link-contact:hover {
    color: rgb(166, 247, 80);
    transition: color 0.3s ease-in-out;
}

.row-x {
    text-decoration: none;
    display: flex;
}

.display-margin {
    margin-right: 5px;
}